name: Build

on:
  push:
    tags: ['v[0-9].[0-9]+.[0-9]+']

env:
  APP_USER: sguerri
  APP_NAME: markdown-header
  APP_VERSION: "0.1.0"
  BUILD_TYPE: Release

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout current version
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Package extension
        uses: lannonbr/vsce-action@3.0.0
        with:
          args: "package -o ${{env.APP_USER}}.${{env.APP_NAME}}-${{env.APP_VERSION}}.vsix"
#          args: "publish -p $VSCE_TOKEN"
#        env:
#          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}

      - name: Release
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: ./${{env.APP_USER}}.${{env.APP_NAME}}-${{env.APP_VERSION}}.vsix
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
